.homeContainer {
  max-width: 700px;
  margin: 100px auto;
  text-align: center;
  padding: 0 16px;
}

.searchForm {
  width: 100%;
  display: flex;
}

.logo {
  max-width: 160px;
  margin-bottom: 20px;
}

.searchForm input {
  flex: 3;
}
.searchForm button {
  flex: 1;
  max-width: 200px;
}
